<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="index">
<div th:fragment="content">
    <body>
    <div class="container-fluid">
        <div class="panel panel-ex">
            <div class="panel-heading">编辑字典
                <div class="func-btn-list">
                </div>
            </div>
            <div class="panel-body">
                <div id="tabdiv" class="base-table-wrap">
                    <table id="dictDataTable" class="base-table table-striped"></table>
                </div>
            </div>
        </div>
    </div>
    </body>
    <script type="text/javascript" th:src="@{/modules/dict/dictData.js}"></script>
</div>
</html>