<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>工单查询</title>
	<script src="//code.jquery.com/jquery-1.9.1.js"></script>
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<link rel="stylesheet"
		href="http://jqueryui.com/resources/demos/style.css">
<style type="text/css">
.ui-datepicker-calendar {
	display: none;
	//
	不显示日期面板
}
</style>

<script th:inline="javascript">
	var statusList = [[${statusList }]];
	var processList = [[${processList }]];
	var action = [[${action}]]; 
</script>
</head>
<body>
	<div class="panel panel-box">
		<div class="panel-heading">查询条件</div>
		<div class="panel-body">
			<div class="mr5">
				<form class="form-horizontal" id="biz-query-form">
					<div class="col-xs-12 btn-list">
						<a id="queryBtn" class="btn btn-y">查询</a>
						<button type="reset" class="btn btn-n mrl10"
							onclick="biz.query.resetClick()">重置</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="panel panel-box">
		<div class="panel-heading">查询条件</div>
		<div class="panel-body">
			<div class="mr5">
				<form class="form-horizontal" id="biz-query-form">
					<input id="dateText" />
				</form>
			</div>
		</div>
	</div>

	<div class="panel panel-ex" id='table'>
		<div class="panel-body">
			<div class="base-table-wrap">
				<table id="biz-table"
					class="table table-hover base-table table-striped" />
			</div>
		</div>
	</div>
	<div th:include="common/plugins :: jsfooter"></div>
	<script type="text/javascript" th:src="@{/modules/biz/biz_list.js}"></script>
</body>
</html>