<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:include="common/head :: header"></div>
</head>
<body style="background: #2E363F">
	<div id="sidebar" style="width: 220px">
		<ul id="menu">
		</ul>
	</div>
	<div th:include="common/plugins :: jsfooter"></div>
	<script type="text/javascript" th:src="@{/js/plugins/bootstrap/bs-treeview-1.2.0/bootstrap-treeview.js}"></script>
	<script type="text/javascript">
		$(function() {
			loadTree($('#menu'));
		})
		/**
		 *加载菜单树
		 *
		 **/
		var topTitle = $(window.top.document).find('title');
		var view = window.top.document.getElementById("view_frame");
		function loadTree(tree){
			var resourceId = null;//资源id
			$.ajax({
				type : "POST",
				url : path + '/resources/loadUserMenu',
				async : false,
				success : function(result) {
					loadIndex(result);
					//tree.show();
					tree.treeview({
						data : result,
						levels: 1,
						onNodeUnselected : function(event,node){
							selectTreeNode();
						},
						onNodeSelected : function(event, node) {
							if(node.type == 1){
								$(view).attr('src',path + node.href);
								topTitle.html(node.text)
								window.parent.history.pushState({},0, path +"/index?resourceId=" + node.id);
							}
							if(!node.nodes){
								unSelectTreeNode(tree, node);
							}else if(node.nodes.length > 0){
								exdpandNode(node, tree);
							}
						}
					});
				}
			});
			var node = selectTreeNode();
			if(node){
				expendParent(node, tree);
			}
		}
		//模块点击处理
		function exdpandNode(node,tree){
			var child = node.nodes[0];
			var child_parent = tree.treeview('getParent', child);
			tree.treeview('toggleNodeSelected', [child_parent, { silent : true }]);
			tree.treeview('toggleNodeExpanded', child_parent);
			var list = tree.treeview('getEnabled');
			$.each(list,function(index,entity){
				if(entity.nodes && entity.id != child_parent.id){
					tree.treeview('collapseNode', entity);
				}
			});
		}
		//去除非当前节点的选中状态
		function unSelectTreeNode(tree,node){
			var list = tree.treeview('getEnabled');
			$.each(list,function(index,entity){
				if((entity.id != node.id) && entity.state.selected){
					tree.treeview('unselectNode', entity);
				}
			});
		}
		//初始化根据URL选中节点
		function selectTreeNode(){
			var tree = $('#menu');
			var resourceId = null;//资源id
			var tree_node_id = null;//树形组件nodeId
			var reg = new RegExp("(^|&)" + 'resourceId' + "=([^&]*)(&|$)", "i");
			var nodeStr = window.top.location.search.substr(1).match(reg);
			if (nodeStr != null) {
				resourceId = unescape(nodeStr[2]);
			}
			var href = window.top.location.pathname;
			var list = tree.treeview('getEnabled');
			$.each(list,function(index,entity){
				if(entity.href == href){
					tree_node_id = entity.nodeId;
					return false
				}else if(entity.id == resourceId){
					tree_node_id = entity.nodeId;
					return false
				}
			});
			
			if(!tree_node_id){
				$.each(list,function(index,entity){
					if(entity.href == url){
						tree_node_id = entity.nodeId;
						resourceId = entity.id;
						window.parent.history.pushState({},0, path + "/index?resourceId=" + resourceId);
						return false;
					}
				});
			}
			
			if(!resourceId){
				loadDefault();
			}
			
			var node
			if(resourceId){
				if(tree_node_id != null){
					node = tree.treeview('getNode', tree_node_id);
					topTitle.html(node.text)
					tree.treeview('selectNode', [ node, { silent : true }]);
				}else{
					loadDefault();
				}
			}
			return node;
		}
		function loadDefault(){
			var view = window.top.document.getElementById("view_frame");
			$(view).attr('src',path + url);
			var frameset = window.top.document.getElementById("indexFrameset");
			$(frameset).attr("cols","0,*");
		}
		//展开节点的父节点
		function expendParent(node,tree){
			$(view).attr('src',path + node.href);
			var parent = tree.treeview('getParent', node);
			if(parent.nodes){
				tree.treeview('expandNode', parent);
			}
		}
		
		//递归找出有效url
		var url;
		function loadIndex(result){
			
			if(!result){
				url = path +"/defaultPage";
				return url;
			}
			for(var i=0;i<result.length;i++){
				if(url != null){
					return url;
				} else {
					if(result[i].type == 1){
						url = result[i].href;
					 	return url;
					} else if(result[i].nodes){
						loadIndex(result[i].nodes);
					}else{
						continue;
					}
				}
			}
			if(url == null){
				url = path + "/defaultPage";
			}
			return url;
		}
	</script>
</body>
</html>
