<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flowable.oa.core.dao.BizInfoConfMapper">

	<resultMap id="BaseResultMap" type="com.flowable.oa.core.entity.BizInfoConf">
		<id column="ID" property="id" />
		<result column="TASK_ID" property="taskId" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="TASK_ASSIGNEE" property="taskAssignee" />
		<result column="BIZ_ID" property="bizId" />
	</resultMap>
</mapper>